{% extends 'base.html' %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Amey', 'DXC'],
                    datasets: [{
                        label: 'Total Distance Kms',
                        data: [{{ Amey }}, {{ DXC }}],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(153, 102, 255, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {

                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                display: false
                            },
                            gridLines: {
                                display: false
                            }
                        }],
                        xAxes: [{
                            barPercentage: 0.4,
                            gridLines: {
                                display: false
                            }
                        }]
                    },
                    legend: {
                        display: false
                    }
                }
            });
        });
    </script>
{% endblock scripts %}
{% block content %}
    <div class="row">
        <div class="container col-7">
            <br>
            <br>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show">
                        <strong>Success!</strong> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <br>

            <div class="col">
                <table id="tablePreview" class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Distance Travelled</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}
                                {% if item.user.is_DXC %}
                                    <i class="bi bi-person-fill" style="color: rgba(153, 102, 255, 1);"></i>
                                {% else %}
                                    <i class="bi bi-person-fill" style="color: rgba(54, 162, 235, 1);"></i>
                                {% endif %}
                            </th>
                            <td>{{ item.user.first_name }}</td>
                            <td>{{ item.user.last_name }}</td>
                            <td>{{ item.steps }}Kms
                                <a href="{% url 'view-steps' item.pk %}">(View)</a>
                                {% if item.user.id == user.id %}
                                    <a href="{% url 'update-steps' item.pk %}">(Edit)</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container col-4">
            <div class="row">
                <br>&nbsp;
                <canvas id="myChart" height="20px" width="50px"></canvas>
            </div>
            <br>
            <br>
        </div>
    </div>

{% endblock content %}
